/* Reset margin and padding */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
/* Body styles */
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.overlay {
      background-color: rgba(255, 255, 255, 0); /* 50% white overlay for transparency */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
}

    .login-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .logo img {
        max-width: 150px;
        height: auto;
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0 20px;
    }

    .signup-box {
        background-color: #fff;
        padding: 30px;
        border: gray solid;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 350px;
    }

    .signup h1 {
        margin-bottom: 20px;
    }

    .signup-box input {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 2px solid #333;
        border-radius: 10px;
        font-size: 14px;
    }

    .signup-box button {
        width: 100%;
        padding: 12px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
    }

    .signup-box button:hover {
        background-color: #45a049;
    }

    .signup-spacing{
        margin-top: 10px;
    }