<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>Coffee Shop Managing App</h1>
    </div>

    <div class = "">    
        <p>Request Access</p>
        <form action = "/login" method = "POST"> 
            <input type = "text" placeholder = "Name" name="employeename"> <br> <br>
            <input type = "text" placeholder = "employee ID" name = "employeeID"> <br> <br> 
            <button type="submit">Request</button>
        </form>

        <a href="/">Login</a>
        
    </div>
    
</body>
</html>