<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Coffee Shop Stock Dashboard</title>
  <link rel="stylesheet" href="css/dashboard.css"/>
</head>
<body>
  <header>
    <h1>Coffee Shop Stock Manager</h1>
  </header>

  <button id="addItemBtn" class="add-btn">+ Add New Item</button>
  <button id="downloadPdfBtn" class="add-btn">📄 Download PDF</button>

<!-- Add Item Modal -->
<div id="addModal" class="modal">
  <div class="modal-content">
    <h2>Add New Item</h2>
    <input type="text" id="itemName" placeholder="Item Name" required />
    <input type="number" id="itemStock" placeholder="Initial Stock" required />
    <input type="file" id="itemImage" accept="image/*" placeholder="Upload image Here" required />
    <div class="modal-actions">
      <button id="saveItem">Save</button>
      <button id="cancelItem">Cancel</button>
    </div>
  </div>
</div>


<div id="deleteModal" class="modal">
  <div class="modal-content">
    <h2>Confirm Delete</h2>
    <p id="deleteItemName">Are you sure you want to delete this item?</p>
    <div class="modal-actions">
      <button id="confirmDeleteBtn">Yes, Delete</button>
      <button id="cancelDeleteBtn">Cancel</button>
    </div>
  </div>
</div>

<div id="pdfContent">
  <h2 >Coffee Shop Stock Report</h2>
  <p id="generatedTime"></p>
  <table border="1" cellspacing="0" cellpadding="8">
    <thead>
      <tr>
        <th>Item</th>
        <th>Stock</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="pdfTableBody"></tbody>
  </table>
</div>


  <main class="stock-grid" id="stockGrid">
    <!-- Stock cards will be injected by JavaScript -->
  </main>

  <script src="jscript/dashboard.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

</body>

</html>