<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div>
        <h1>Coffee Shop Managing App</h1>
    </div>

    <div class = "">    
        <p>Login</p>
        <form action = "/login" method = "POST"> 
            <input type = "text" placeholder = "username" name="username"> <br> <br>
            <input type = "password" placeholder = "password" name = "password"> <br> <br> 
            <button type="submit">Login</button>
        </form>

        <a href="/accessrequest">Request Access</a>
        
    </div>
    
</body>
</html>